
IMG.displayed 
{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 66%;
}

IMG.smaller
{
    width: 50%;
}

IMG.bigger
{
    width: 80%;
}

IMG.biggest
{
    width: 100%;
}
