.nobullet
{
      list-style-type: none;
      list-style: none;
}

IMG.displayed 
{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 66%;
}

IMG.bigger
{
    width: 80%;
}
